# Disable directory listing
Options -Indexes

# Block direct access to configuration/key/sensitive files
<FilesMatch "^\.(key|env)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
